[Unit]
Description=Server Core service management
After=mosquitto.service rethinkdb.service network-online.target
Wants=network-online.target
PartOf=rethinkdb.service network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/energieip-srv200-core -c /etc/energieip-srv200-core/config.json
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
